[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/CTSElab5/gateway_Service.git
[submodule "gateway2"]
	path = gateway2
	url = https://github.com/CTSElab5/gateway_Service.git
[submodule "item"]
	path = item
	url = https://github.com/CTSElab5/item_Service.git
[submodule "order"]
	path = order
	url = https://github.com/CTSElab5/order_Service.git
[submodule "payment2"]
	path = payment2
	url = https://github.com/CTSElab5/payment_service.git
